<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOS</title>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
        <% exercise.forEach( el=> { %>
            <li class='exerciseItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? ' completed' : 'not' %>'><%= el.exercise %></span>
                <span class='del'> Delete </span>
            </li>
            <% }) %>
    </ul>
    
    <!-- <h2>
        <%= user.userName %> has things left to do.
    </h2> -->

    <form action="/exercise/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>
    <a href="/logout" class="btn-link btn-primary"> Logout</a>
    <script src="js/main.js"></script>
    </div>
</body>
</html>