<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Welcome</title>
</head>
<body>
    <header>
        <nav class="nav-list">
            <span>ExerciseUnit</span>
        </nav>
    </header>
    <main class="page-layout">
        <div class="index-container">
            <h1>ExerciseUnit</h1>
            <h2>Customize your Exercises</h2>
        </div>
        <div class="img">
            <img src="/images/momdaugther.jpeg" alt="manwoman">
        </div>
        <a href="/login"> Login</a>
        <a href="/signup" class="btn-link btn-primary">Signup</a>
    </main>
</body>
</html>