<%- include('partials/header') -%>

    <div class="container col-xxl-12 mb-3 px-4 py-5 card-container">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://images.unsplash.com/photo-1549576490-b0b4831ef60a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                    class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="600" height="400"
                    loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Your premier source for unique exercises!</h1>
                <p class="lead">We know exercising daily can be good for optimal health.  But what if you have an injury or an illness that prevents you from being mobile.  Mobex is a source where you can find and centralize your own exercises.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="/signup" type="button" class="btn btn-outline-danger btn-lg">
                        Signup Today
                    </a>
                    <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
                </div>
            </div>
        </div>
    </div>

<%- include('partials/footer') -%>
