
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif;
  color: black;
}


body {
  font-family: 'Edu TAS Beginner';
  width: 100%;
  min-height: 100vh;
}

/* NAV SECTION */

.nav-logo {
    position: absolute;
    left: 1200px;
    color: red;
}



/* MAIN SECTION*/

.main {
  margin: 200px 300px 50px 0;
  border-radius: 50px;
}


.main-img {
  border-radius: 20px;
}


/* MEDIA QUERIES*/

@media screen and (max-width: 1500px) {
  .nav-logo {
    position: absolute;
    left: 800px
  }
}

@media screen and (max-width: 1200px) {
  .nav-logo {
    position: absolute;
    left: 400px
  }
}

@media screen and (max-width: 800px) {
  .nav-logo {
    position: absolute;
    left: 100px
  }
}





/* Login and Signup page */

/* error message */

.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
}


.form-label {
  font-size: 1.5rem;
}



/* Footer */

.foot {
  margin-top: auto;
}



